body {
    background: #2F80ED;
    font-family: 'Spartan', serif;
    color: white;
}

.navbar {
    color: #2F80ED;
    box-shadow: none;
    background: white;
}

#logo-brand .navbar-brand{
    color: #2F80ED;
}


body h1 {
    text-align: center;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#fab {
    background: white;
    bottom: 10px;
    color: white;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}

.card {
    margin: 20px 0;
}

.card-title {
    font-size:2.5vmin;
}

#listPage .card-title,
#listPage .card-subtitle {
    color: #6c757d;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.dropdown-menu-right {
    left: -128px;
}

.firebaseui-idp-icon-wrapper {
    display: hide;
}

#loginButtons button {
    display: block;
    margin: 30px auto 20px auto;
    color:  #757575;;
    background: white;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 5px;
}

.firebaseui-idp-text {
    font-size: 1.1em;
    color:  #2F80ED;
    font-family: 'Spartan', serif;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: white;
    color: #2F80ED;
}

.bmd-layout-drawer>ul {
    background-color: #2F80ED;
    color:white;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

#menuEdit, #menuDelete {
    display: none;
}

.material-icons {
    color: #2F80ED;
    font-size:medium;
}

.list-group .material-icons {
    color: white;
}

.modal-title {
    color: #2F80ED;
}

#point-balance{
    border-radius: 25px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;

}

.row{
    justify-content: center;
    padding: 20px;
}

.col-xs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#cardMovie, #cashValue{
    font-weight: bolder;
    text-align: center;
    color: #2F80ED;
    margin: 0px;
}

.ul .h5{
    color: #2F80ED;
    text-align: center;
    vertical-align: middle;
}

.redeem-icon{
    padding-left: 13px;
    vertical-align: middle;
    font-size: xx-large;
    text-align: center;
    color: #2F80ED;
}

@media (max-width: 576px) {
    .navbar-brand{
        font-size: small;
    }
}

@media (min-width: 576px) {
    .navbar-brand{
        font-size: larger;
    }
}
